aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
anyascii==0.3.2
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.11.2
certifi==2023.7.22
charset-normalizer==3.3.1
crispy-bootstrap4==2023.1
crispy-bootstrap5==0.7
defusedxml==0.7.1
distlib==0.3.6
Django==4.2.6
django-crispy-forms==2.1
django-filter==23.3
django-modelcluster==6.1
django-otp==1.2.4
django-permissionedforms==0.1
django-smtp-ssl==1.0
django-taggit==4.0.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filelock==3.11.0
filetype==1.2.0
frozenlist==1.4.0
html5lib==1.1
idna==3.4
install==1.3.5
l18n==2021.3
multidict==6.0.4
openpyxl==3.1.2
phonenumbers==8.13.23
Pillow==10.1.0
pillow-heif==0.13.1
platformdirs==3.2.0
postgres==4.0
psycopg2-binary==2.9.6
psycopg2-pool==1.1
PyJWT==2.8.0
pyodbc==4.0.39
pypng==0.20220715.0
PyQRCode==1.2.1
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3.post1
pyzbar==0.1.9
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
telepath==0.3.1
twilio==8.10.0
tzdata==2023.3
urllib3==2.0.7
virtualenv==20.21.0
wagtail==5.1.3
webencodings==0.5.1
Willow==1.6.2
yarl==1.9.2
