{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<header>
    <title>Shiksha Saarthi-Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "image/apple-touch-icon.png" %}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "images/site.webmanifest" %}">
    <script src="https://cdn.tailwindcss.com"></script>
</header>
<body>

            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info"type="submit">LogIn</button>
                        {% comment %} <small class="text-muted ml-2">
                            <a href="{% url 'password_reset' %}">Forgot Password?</a>
                        </small> {% endcomment %}
                    </div>
                </form> 
                <div class="border-top pt-3">
                    <small class="text-muted">Don't have an account? <a class="ml-2" href="{% url 'register' %}">SignUp Now</a>
                    </small>
                </div>
            </div>
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <div id="google_translate_element"></div>
            <script>
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'en',  // The default language of your website
                        autoDisplay: true,  // Set to true if you want the translation bar to automatically display
                        includedLanguages: 'en,hi,gu,ja',
                    }, 'google_translate_element');
                }  
            </script>
                     
</body>


</html>
