{% extends "ShikshaSaarthi/base.html" %}
{% block content %}

    <h1>Selected Course: {{slug}}


        <div class="w-1/4 p-4 bg-white rounded shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Links</h2>
            <ul>
                {% for n in videos %}
                <li class="mb-2">
                    <a href="/resources/{{slug}}/{{n.serial_number}}" class="text-blue-500 hover:underline">Lecture {{n.serial_number}}</a>
                {% endfor %}
            </ul>
        </div>

<script>
    var player;

    document.onreadystatechange=function(){
        if(document.readystate=='interactive'){
            player=document.getElementById("player")
            maintainRatio()
        }


    }
    function maintainRatio(){
        var w=player.clientWidth
        var h= (w*9)/16
        console.log({w,h});
        player.height=h1
    }
    window.onresize=maintainRatio

</script>

{% endblock content %}