{% extends "ShikshaSaarthi/base.html" %}
{% load static %}
{% block content %}

<h1>Government Policies</h1>
<style>
    .filterDiv {
      float: left;
      background-color: #666666;
      color: #ffffff;
      width: 140px;
      height: 100px;
      line-height: 30px;
      text-align: center;
      margin: 3px;
      display: none;
    }
    
    .show {
      display: block;
    }
    
    .container {
      margin-top: 20px;
      overflow: hidden;
    }
    
    /* Style the buttons */
    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }
    
    .btn:hover {
      background-color: #ddd;
    }
    
    .btn.active {
      background-color: #666;
      color: white;
    }
    </style>
    <body>
    
    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('education')"> Educational Policies</button>
      <button class="btn" onclick="filterSelection('job')"> Jobs</button>
      <button class="btn" onclick="filterSelection('scholarship')"> Educational Scholarships</button>
      <button class="btn" onclick="filterSelection('')"> Colors</button>
    </div>
    
    <div class="container">
      <btn class="filterDiv education bmw" onclick="showtext()">BMW</btn>
      <btn class="filterDiv scholarship disabilities" onclick="showtext()">Scholarships for students with disabilities</btn>
      <btn class="filterDiv education" onclick="showtext()">Volvo</btn>
      <btn class="filterDiv colors" onclick="showtext()">Red</btn>
      <btn class="filterDiv education" onclick="showtext()">Ford</btn>
      <btn class="filterDiv colors" onclick="showtext()">Blue</btn>
      <btn class="filterDiv job" onclick="showtext()"> Cat</btn>
      <btn class="filterDiv job" onclick="showtext()">Dog</btn>
      <btn class="filterDiv scholarship" onclick="showtext()">Scholarships for Minorities</btn>
      <btn class="filterDiv scholarship job" onclick="showtext()">Scholarships for Labour Workers</btn>
      <btn class="filterDiv scholarship" onclick="showtext()">Scholarships for Backward Classes</btn>
      <btn class="filterDiv scholarship" onclick="showtext()">Scholarships for Higher Education</btn>
      <btn class="filterDiv job" onclick="showtext()">Cow</btn>
    </div>
    <div class="text-about">
      <div class="bmw">It is a BMW</div>
      <div class="disabilities">Students with disabilities</div>
    </div>
    <script>
    
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show");
      }
    }
    
    function AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }
    
    function RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }
    
    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    </script>




{% endblock %}