
.row{
    height: 1000px;
    /* background-image: url(../images/bg3.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: none;
    z-index: -1000; */
}


.panel-1{
    height: 260px;
    background-color:#FFFFFF; ;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 20px;
    margin-bottom: 20px;
    width:23% ;
    height: 400px;
    background-color: white;
    padding: 20px 0px 15px 18px;
}

.h96{
    height: 24rem;
}

.container{
    
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}