
.row{
    height: 850px;
    background-image: url(../images/bg2.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.panel-1{
    height: 200px;
    background-color:#000000; ;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}