
.row{
    height: 850px;
    background-image: url(../images/bg2.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.panel-1{
    height: 260px;
    background-color:#FFFFFF; ;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 20px;
    margin-bottom: 20px;
    width:23% ;
    height: 400px;
    background-color: white;
    padding: 20px 0px 15px 18px;
}